<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css"
      integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/app.css" />
    k
    <title>{% block title %}{% endblock%}</title>
  </head>
  <body>
    <div class="container">
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
